    {#- sidebar ~#}
    <div id="sidebar" class="flex flex-col fixed z-50 lg:z-0 top-0 lg:top-auto w-80 lg:max-w-72 h-screen overflow-auto bg-primary-100 dark:bg-primary-900 shadow-md lg:shadow-none -translate-x-full {% if page.section == 'docs' %}lg:translate-x-0{% endif %} transition-all duration-200 ease-out">
      <div class="lg:hidden flex items-center h-14 pl-4 py-3">
        {{- include('partials/menu-title.html.twig') ~}}
      </div>
      <nav class="px-4 divide-y divide-secondary-400 lg:divide-y-0">
        {%- block navigation ~%}
        {#- navigation menu ~#}
        <div class="flex lg:hidden mb-4 lg:mb-0">
          <ol class="w-full">
            {{- include('partials/navigation.html.twig') ~}}
          </ol>
        </div>
        {#- docs groups ~#}
        {%- if page.section == 'docs' ~%}
        <div class="pt-4">
          {%- for group in site.sidebar ~%}
            {%- if site.page('docs/' ~ group|slugify) ~%}
              {%- set group_title = site.page('docs/' ~ group|slugify).title ~%}
            {%- else ~%}
              {%- set group_title = group ~%}
            {%- endif ~%}
            {%- set group_pages = site.pages.showable|filter(p => p.folder == 'docs/' ~ group|slugify) ~%}
            {%- if group_pages|length > 0 ~%}
          <div class="group-title">{{ group_title|trans }}</div>
          <ol>
            {#-{%- for p in site.pages.showable|filter(p => p.path matches '{^docs/' ~ group|slugify ~ '}') ~%}~#}
            {%- for p in site.pages.showable|filter(p => p.folder == 'docs/' ~ group|slugify) ~%}
            <li>
              <a href="{{ url(p) }}" class="flex{% if url(p) == url(page) %} active{% endif %}">{{ p.title }}</a>
            </li>
            {%- endfor ~%}
          </ol>
            {%- endif ~%}
          {%- endfor ~%}
        </div>
        {%- endif ~%}
        {%- endblock navigation ~%}
        <div class="lg:hidden mt-4 pt-4 flex flex-col space-y-1">
          {{- include('partials/theme-selector.html.twig', {'label': true}) ~}}
          {{- include('partials/language-selector.html.twig', {'label': true}) ~}}
        </div>
      </nav>
      <div class="grow lg:grow-0"></div>
      <footer class="my-4 text-sm text-center text-secondary-800 dark:text-secondary-300 font-thin">
        {% trans with {'%powered_by%': '<a href="' ~ cecil.url ~ '">Cecil</a>'} %}Powered by %powered_by%{% endtrans ~%}
      </footer>
    </div>
    <div id="sidebar-cloudywrapper" class="hidden lg:hidden fixed top-0 z-40 w-full h-full bg-black opacity-50" onclick="toggleMenu()"></div>