      {#- sidebar mobile button ~#}
      <button class="navbar-item flex lg:hidden items-center mr-3" onclick="toggleMenu()">
        <svg id="sidebar-open" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
          <title>{% trans %}Open menu{% endtrans %}</title><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
        </svg>
        <svg id="sidebar-close" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 hidden">
          <title>{% trans %}Close menu{% endtrans %}</title><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
        </svg>
      </button>
      {#- site title ~#}
      <div class="navbar-item flex items-center truncate">
        <a href="{{ url(site.home) }}" title="{{ 'Home page'|trans }}" class="flex items-center font-semibold text-inherit hover:text-inherit py-2 space-x-1">
          {%- if site.logo is defined ~%}
            {%- if site.logo is iterable ~%}
              {%- set asset_logo_light = asset(site.logo.light)|resize(28) ~%}
              {%- set asset_logo_dark = asset(site.logo.dark)|resize(28) ~%}
          <img src="{{ asset_logo_light }}" width="{{ asset_logo_light.width }}" height="{{ asset_logo_light.height }}" alt="{{ 'Logo'|trans }}" class="w-7 h-7 inline dark:hidden" />
          <img src="{{ asset_logo_dark }}" width="{{ asset_logo_dark.width }}" height="{{ asset_logo_dark.height }}" alt="{{ 'Logo'|trans }}" class="w-7 h-7 hidden dark:inline" />
            {%- else ~%}
              {%- set asset_logo = asset(site.logo)|resize(28) ~%}
          <img src="{{ asset_logo }}" width="{{ asset_logo.width }}" height="{{ asset_logo.height }}" alt="{{ 'Logo'|trans }}" class="w-7 h-7 inline" />
            {%- endif ~%}
          {%- endif ~%}
          <div class="inline">{{ site.title }}</div>
        </a>
      </div>